<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Blog Website</title>
    <style>
        body{
            background-image: url('/imageS/show.JPG');
            background-size: cover;
        }
    </style>
</head>
<body >
    <div class="container">
        <b><h1 class="mb-1" style=" font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; margin-top: 20px;"><%=article.title%></h1></b><br>
        <div class="text-muted mb-2">
            <%=article.createdAt.toLocaleDateString() %>
        </div>
        <br>
        <a href="/" class="btn btn-secondary">All Articles</a>
        <a href="/articles/edit/<%=article.id%>?" class="btn btn-info">Edit</a>
        <br>
        <br>

    <div><b>
        <%-article.sanitizedHTML%>
    </div></b>
    </div>

</body>
</html>